
.interLight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 390;
  font-style: normal;
  font-size: 1.7vw;
}

.inter-light-about {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 390;
  font-style: normal;
  font-size: 30px;
}

.inter-light-about a{
  text-decoration: none;
}

.interThin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-weight: 190;
  font-style: normal;
  font-size: 13px;
}

.inter-thin-about {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-weight: 200;
  font-style: normal;
  
}

.interMedium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 470;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 1.2px;
  color: white;
}

.orange{
color: rgb(255, 255, 255);
}
.grey{
color: rgb(255, 255, 255);
}
.red{
color: rgb(255, 255, 255);
}
.white{
  color: white;
}

/*display: flex;
  justify-content: flex-start;
  align-items: left;
  margin-left: 40px;
  margin-right: 40px;*/

body{
    margin: 0px;
    background-color: rgb(4,4,4);
}

.bottomBody{
position: absolute;
bottom: 7px;
width: 100%;
text-align: center;
}

.sketch-container{
  position: absolute;
  padding: 0;
  width: 100dvw;
  height:100vh;
  height:100svh;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}


.container{
  display: fixed;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 2.5vw;
}
header{
flex: 1;
margin-top: 80px;
}
section{
flex: 1;
display: flex;
gap: 40px;
margin-top: 60px;
}
.col-left{
flex: 1;
text-decoration: none;
font-size: 1.7vw;
}
.col-right{
flex: 1;
font-size: 1.7vw;
}

.nav-list{
  background: rgba(255, 23, 23, 0);
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.nav-item{
  list-style: none; 
  margin-right: 45px;
  margin-top: 30px;
  z-index: 200;
}

.nav-item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition:all 300ms ease-in;
  z-index: 200;
  
}

.nav-item a:hover{
  color: rgb(92, 92, 92);
  transition:all 300ms ease-in;
  z-index: 200;
}
.nav-item:first-child{
  margin-right: auto;
  margin-left: 0px;
  z-index: 200;
}



@media (max-width: 600px){
  .nav-list{
  background: rgba(255, 0, 0, 0);
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }

 .nav-item a{
    font-size: 18px;
    z-index: 200;
  }
  .nav-item{
    margin-top: 15px;
    margin-right: 15px;
    z-index: 200;
  }
  .nav-item:first-child{
    margin-left: -25px;
    z-index: 200;
   }

  .bottomBody{
position: fixed;
bottom: 11px;
margin-left: 15px;
} 

.interThin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-weight: 190;
  font-style: normal;
  font-size: 10px;
}
.inter-light-about {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}

.inter-thin-about {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  line-height: 10px;
}

.interMedium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 23px;
  letter-spacing: 1.2px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  margin-left: 15px;
  margin-right: 40px;
}

body,
.container{
  min-height: 90vh;
  gap: 40px;
}
.container{
  display: fixed;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}
header{
flex: 1;
}
section{
flex: 1;
display: flex;
flex-direction: column;
gap: 20px;
margin-top: 50px;
}
.col-left{
flex: 1;
text-decoration: none;
}
.col-right{
flex: 1;
margin-top: 30px;

}

}

/*.defineGrid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid{
  grid-column: 1;
}

.grid1{
    grid-column: 7;
    text-align: right;
}

.grid2{
  grid-column: 10;
  text-align: right;
}

.gridNav{
    grid-column: 1 / span 8;
}

h1 { 
    margin: 0px;
    font-size: 75px;

}


a {
    color: rgb(0, 0, 0);
    text-decoration:none;
    
}


.topnav {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  display: grid;
  padding-left: 40px;
  padding-right: 40px;
}


.topnav a {
  color: #fdfdfd;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 35px;
}

.topnav b{
    float: right;
}*/

